<section class="banner-container">
    <div class="row align-items-center justify-content-evenly">
        <div class="col-md-6 col-lg-4">
            <img src="assets/img/obras/prestado/handibat-silverbat.webp"
                alt="Travaux de pose de carrelage réalisés par Handibat" class="img-fluid banner-image">
        </div>
        <div class="col-md-6 col-lg-5 text-container">
            <h1 class="title">Handibat</h1>
            <p class="description">
                Le label Handibat / Silverbat identifie les professionnels engagés dans la démarche du
                confort d'usage et de l'habitat adapté à tous. Elle regroupe les entreprises, artisans et
                indépendants réalisant des travaux dans les logements des seniors afin de leur apporter
                confort et bien-être au quotidien et leur permettre de bien vieillir à domicile.
            </p>
            <p class="description">
                "Rendre accessible un bâtiment public ou privé"
            </p>
            <p class="description">
                Notre equipe est engagé en faveur de l’accessibilité, et soucieux de leur intervention en toute
                déontologie,
                auprès des PMR et personnes handicapées.
                Nous sommes des professionnels qui peuvent vous proposer des solutions sur-mesure, conformes aux
                règlementations en vigueur pour aménager un établissement privé ou public, ou améliorer l'usage de votre
                logement et l'adapter à vos besoins .
            </p>
            <p class="description">
                Pour plus d’informations sur le label et les bonnes pratiques, consultez le site officiel :
            </p>
            <a href="https://www.handibat.info/" target="_blank" rel="noopener noreferrer" class="btn btn-primary btn-lg mb-4">
                handibat.info
            </a>
            <p class="description">
               L’aide MaPrimeAdapt’ s’adresse aux personnes âgées ou en situation de handicap.</p>
            <p class="description">
               Elle peut financer 50 % ou 70 % de vos travaux d’adaptation.
            </p>
            <a href="https://www.service-public.fr/particuliers/vosdroits/F37501" target="_blank" rel="noopener noreferrer" class="btn btn-primary btn-lg mb-4">
                RENSEIGNEZ VOUS ICI
            </a>
        </div>
    </div>
</section>

<section class="">
    <div class="row align-items-stretch justify-content-evenly">
        <div class="col-md-6 col-lg-4 d-flex">
            <div class="image-wrapper w-100 rounded overflow-hidden">
                <img src="assets/img/obras/handibat-1.webp" alt="Travaux de pose de carrelage réalisés par Handibat"
                    class="img-fluid w-100 h-100 object-fit-cover">
            </div>
        </div>
        <div class="col-md-6 col-lg-5 d-flex">
            <div class="image-wrapper w-100 rounded overflow-hidden">
                <img src="assets/img/obras/handibat-2.webp" alt="Travaux de pose de carrelage réalisés par Handibat"
                    class="img-fluid w-100 h-100 object-fit-cover">
            </div>
        </div>
    </div>
</section>