<section class="banner-container">
    <div class="row align-items-center justify-content-evenly">
      <!-- Imagen -->
      <div class="col-md-6 col-lg-4">
        <img src="assets/img/obras/prestado/parquet.webp" alt="Pose de faïence" class="img-fluid banner-image">
      </div>
  
      <!-- Texto -->
      <div class="col-md-6 col-lg-5 text-container">
        <h1 class="title">Pose de parquets et sols souples</h1>
        <p class="description">
            Optez pour la modification de votre espace intérieur en choisissant un sol souple qui améliore l'esthétique et donnera une nouvelle vie à votre pièce.
        </p>
        <p class="description">
            Nous mettons à votre disposition le savoir-faire pour la pose de tous types de revêtements de sol innovants tels que les parquets stratifiés, sols en vinyle, dalles PVC, moquette ou linoléum.
        </p>
        <p class="description">
            N’hésitez pas à vous renseigner auprès de nous pour savoir sur les prestations qui un sol souple moderne peut vous offrir à niveau confort, isolation, et contrôle thermique et acoustique de votre maison.
        </p>
        <ul class="benefits">
            <li>✔ Matériaux de haute qualité</li>
            <li>✔ Service professionnel et rapide</li>
            <li>📍 Pau, Nay et alentours</li>
        </ul>
      </div>
    </div>
  </section>
  