<header class="p-5 bg-light">
    <h1 id="title" class="text-center">Mentions Légales - Relief - Pose de carrelage et sols souples</h1>
</header>
<body>
<section class="container my-3">
    <div class="card p-4 shadow-sm">
        <h2>Informations légales</h2>
        <p><strong>Entreprise :</strong> RELIEF - Pose de carrelage et sols souples</p>
        <p><strong>Statut :</strong> Entreprise Individuelle</p>
        <p><strong>Nom du gérant :</strong> Hector MATIAS JIMENEZ</p>
        <p><strong>Téléphone :</strong> 07 87 66 20 55</p>
        <p><strong>Email : </strong> <a class="link-secondary" href="mailto:reliefcarreleur@gmail.com">reliefcarreleur@gmail.com</a></p>
        <p><strong>Adresse :</strong> 22 Avenue Charles De Gaulle, 64800 NAY</p>
        <p><strong>SIREN :</strong> 940226475</p>
        <p><strong>SIRET :</strong> 94022647500017</p>
    </div>

    <div class="card p-4 shadow-sm mt-3">
        <h2>Hébergement du site</h2>
        <p>Le site est hébergé par <strong>[Nom de l'hébergeur]</strong>.</p>
    </div>

    <div class="card p-4 shadow-sm mt-3">
        <h2>Directeur et rédacteur de publication</h2>
        <p>[Ton Nom Ici]</p>
    </div>

    <div class="card p-4 shadow-sm mt-3">
        <h2>Respect de la propriété intellectuelle</h2>
        <p>
            Toutes les marques, logos, textes, images et autres éléments présents sur ce site sont la propriété exclusive de 
            Relief ou de ses partenaires. Toute reproduction, distribution, modification ou utilisation sans autorisation est strictement interdite.
        </p>
    </div>
</section>

</body>