<header class="p-3 p-md-5 w-100 bg-2">
  <h1 id="title" class="text-center text-light "><span class="relief">RELIEF</span> Pose de carrelage et sols</h1>
</header>

<section id="frase-galeria" class="py-5 mt-5">
  <p class="lead fs-3 text-center mb-5 mx-4 mx-md-5 text-purple">"Si vous souhaitez donner une nouvelle vie à vos sols ou à vos revêtements muraux, n’hésitez pas à nous contacter. <br>
Nous serons heureux de vous accompagner dans la réalisation de vos idées, notre but, un résultat à la hauteur de vos attentes."</p>


</section>
<section class="bg-3 py-5">
  <h2 class="text-center mb-3 pb-3">Photos de nos Realisations</h2>  
  <div class="container">
    <div class="row g-4">
      <div *ngFor="let obra of obras" class="col-12 col-sm-6 col-md-4">
        <div class="card">
          <div class="image-container-galeria" (click)="openImageModal(obra.img)">
            <img [src]="obra.img" [alt]="obra.alt" class="gallery-img">
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img [src]="selectedImage" class="img-fluid" alt="Imagen seleccionada">
      </div>
    </div>
  </div>
</div>

</section>

<div class="transition2 p-3 w-100">
</div>