header {
    background: url('/Relief/assets/img/banner.webp') no-repeat center center;
    background-size: cover;
    height: 300px; /* Ajusta la altura según necesites */
    display: flex;
    align-items: center; /* Centra el texto verticalmente */
    justify-content: center; /* Centra el texto horizontalmente */
    
  }

  header h1 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  }

  .card {
    border: none;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
  }
  
  .card:hover {
    transform: scale(1.05);
  }

