<header class="p-5 w-100 bg-2">
  <h1 id="title" class="text-center text-light">Relief Pose de carrelage et sols</h1>
</header>

<section class="py-3 py-xl-5">
  <p class="lead fs-4 text-secondary mb-5 mx-4 mx-md-5">Si vous souhaitez donner une nouvelle vie à vos sols ou à vos revêtements muraux, n’hésitez pas à nous contacter par l’un des moyens suivants. Nous serons heureux de vous accompagner dans la réalisation de vos idées et de vous apporter notre expertise pour un résultat à la hauteur de vos attentes.</p>

  <div class="container">
    <div class="row g-4">
      <div *ngFor="let obra of obras" class="col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="card">
          <div class="image-container-galeria" (click)="openImageModal(obra.img)">
            <img [src]="obra.img" [alt]="obra.alt" class="gallery-img">
          </div>
        </div>
      </div>
    </div>
  </div>

 <!-- Modal de Bootstrap -->
<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img [src]="selectedImage" class="img-fluid" alt="Imagen seleccionada">
      </div>
    </div>
  </div>
</div>

</section>