header {
  background: url('/assets/img/banner.webp') no-repeat center center;
  background-size: cover;
  height: 300px;
  /* Ajusta la altura según necesites */
  display: flex;
  align-items: center;
  /* Centra el texto verticalmente */
  justify-content: center;
  /* Centra el texto horizontalmente */

}

header h1 {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.relief {
  font-family: 'SegoeUI', sans-serif !important;
  font-size: 4rem;
  letter-spacing: 16px;
}

.lead {
  font-family: 'SegoeUI', sans-serif !important;
}

.text-purple {
  color: #14144e;
}

.transition {
  background: #d0d0d0;
  background: linear-gradient(0deg, #d0d0d0 0%, #40dbe8 100%);
}

.transition2 {
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(208, 208, 208, 1) 100%);
}

.card {
  border: none;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;

}

.card img {
  border-radius: 0;
}

.card:hover {
  transform: scale(1.05);
}

.round-top {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

#frase-galeria{
  background: url('/assets/img/fondo-texto-galeria.webp') no-repeat center bottom;
}
@media only screen and (min-width: 720px) {

  .round-top {
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
  }

}

@media only screen and (max-width: 720px) {
  header {
    background-image: url('/assets/img/banner-mobile.webp');
  }
}