<section class="banner-container">
    <div class="row align-items-center justify-content-evenly">
        <div class="col-md-6 col-lg-4">
            <img src="assets/img/obras/prestado/baño.webp" alt="Salles de bain"
                class="img-fluid banner-image">
        </div>

        <div class="col-md-6 col-lg-5 text-container">
            <h1 class="title">Salles de bain</h1>
            <p class="description">
              Nous sommes à vos côtés dans votre parcours pour la création, amélioration ou modification de vos salles de bain; Osez la reconversion et amplification des espaces de vos salles
                d'eau et toilettes, ou vous pouvez supprimer/ajouter des nouveaux éléments telles que parois, socles ou
                tablettes, wc's suspendus et douches italiennes
            </p>
            <p class="description">
                Nous mettons tout en œuvre pour matérialiser vos besoins pratiques et vos idées de décoration.
            </p>
            <ul class="benefits">
                <li>✔ Étanchéité pièces humides</li>
                <li>✔ Service professionnel et rapide</li>
                <li>📍 Devis gratuit</li>
            </ul>
        </div>
    </div>
</section>