<section class="banner-container">
    <div class="row align-items-center justify-content-evenly">
        <!-- Imagen -->
        <div class="col-md-6 col-lg-4">
            <img src="assets/img/obras/prestado/baño.webp" alt="Pose de faïence"
                class="img-fluid banner-image">
        </div>

        <!-- Texto -->
        <div class="col-md-6 col-lg-5 text-container">
            <h1 class="title">Salles de bain</h1>
            <p class="description">
              Nous sommes à vos côtés dans votre parcours pour la création, amélioration ou modification de vos salles de bain; Osez la reconversion et amplification des espaces de vos salles
                d'eau et toilettes, ou vous pouvez supprimer/ajouter des nouveaux éléments telles que parois, socles ou
                tablettes, wc's suspendus et douches italiennes
            </p>
            <p class="description">
                Nous mettons tout en œuvre pour matérialiser vos besoins pratiques et vos idées de décoration.
            </p>
            <ul class="benefits">
                <li>✔ Matériaux de haute qualité</li>
                <li>✔ Service professionnel et rapide</li>
                <li>📍 Pau, Nay et alentours</li>
            </ul>
        </div>
    </div>
</section>

<section>
  <h2 class="text-center">Découvrez notre savoir-faire</h2>
  <p class="text-center">Nous vous présentons une sélection de nos réalisations, où créativité et expertise se rencontrent pour donner vie à des projets uniques.</p>
    <div class="container">
      <div class="row g-4">
        <div *ngFor="let obra of obras" class="col-12 col-sm-6 col-md-4">
          <div class="card">
            <div class="image-container-galeria" (click)="openImageModal(obra.img)">
              <img [src]="obra.img" [alt]="obra.alt" class="gallery-img">
            </div>
          </div>
        </div>
      </div>
    </div>

     <!-- Modal de Bootstrap -->
<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <img [src]="selectedImage" class="img-fluid" alt="Imagen seleccionada">
      </div>
    </div>
  </div>
</div>
  </section>