<section class="banner-container">
  <div class="row align-items-center justify-content-evenly">
    <div class="col-md-6 col-lg-4">
      <img src="assets/img/obras/prestado/duchaitaliana.webp" alt="Pose de faïence" class="img-fluid banner-image">
    </div>

    <div class="col-md-6 col-lg-5 text-container">
      <h1 class="title">Douche italienne</h1>
      <p class="description">
        Vous voulez enlever votre ancienne baignoire, où vous avez besoin d'une douche de plain-pied, vous êtes attiré par son côté fonctionnelle et facile d'usage ? Nous vous guidons pour la création de votre douche à l'italienne (receveur de douche maçonné et carrelé par l'artisan)</p>
        <p class="description">
          Optez pour les mosaïques en grès, pierres naturelles, ou pâtes de verre qui font tendance.</p>
      <ul class="benefits">
        <li>✔ Imperméabilisation</li>
        <li>✔ Mosaïques</li>
        <li>📍 Pau, Nay et alentours</li>
      </ul>
    </div>
  </div>
</section>