<section class="banner-container">
  <div class="row align-items-center justify-content-evenly">
    <!-- Imagen -->
    <div class="col-md-6 col-lg-4">
      <img src="assets/img/obras/prestado/duchaitaliana.webp" alt="Pose de faïence" class="img-fluid banner-image">
    </div>

    <!-- Texto -->
    <div class="col-md-6 col-lg-5 text-container">
      <h1 class="title">Douche italienne</h1>
      <p class="description">
        Que ce soit pour enlever votre ancienne baignoire a besoin d'une douche a plain-pied ou pour son côté
        fonctionnel et facile usage, on vous guide pour la création de votre douche à l'italienne (receveur de douche
        maçonné et carrelée pour l'artisan) </p>
        <p class="description">
          Optez pour les mosaïques en grès, pierres naturelles, ou pâtes de verre qui font tendance.</p>
      <ul class="benefits">
        <li>✔ Matériaux de haute qualité</li>
        <li>✔ Service professionnel et rapide</li>
      </ul>
    </div>
  </div>
</section>