<section class="banner-container">
    <div class="row align-items-center justify-content-evenly">
      <!-- Imagen -->
      <div class="col-md-6 col-lg-4">
        <img src="assets/img/obras/prestado/azulejos.webp" alt="Pose de faïence" class="img-fluid banner-image">
      </div>
  
      <!-- Texto -->
      <div class="col-md-6 col-lg-5 text-container">
        <h1 class="title">Pose de faïence</h1>
        <p class="description">
          Nous posons tous types de faïence, que ce soit le carreau traditionnel ou les nouveaux carreaux grands formats, carreaux émaillés ou effet marbre, grès, porcelaine ou travertin, pour doter votre cuisine ou salle de bain d'un aspect moderne.
        </p>
        <p class="description">
          Nous vous accompagnons avec notre conseil, dans le choix des matériaux, le dessin et la mise en forme de votre projet de création ou rénovation.
        </p>
        <ul class="benefits">
          <li>✔ Crédences</li>
          <li>✔ WC's suspendus</li>
          <li>📍 Pau, Nay et alentours</li>
        </ul>
      </div>
    </div>
  </section>
  