<section class="banner-container">
    <div class="row align-items-center justify-content-evenly">
      <div class="col-md-6 col-lg-4">
        <img src="assets/img/obras/prestado/azulejossuelo.webp" alt="Pose de faïence" class="img-fluid banner-image">
      </div>
        <div class="col-md-6 col-lg-5 text-container">
        <h1 class="title">Pose de carrelage au sol</h1>
        <p class="description">
            Vous avez un projet de création ou de changement de sol ?  S’agissant de grès, terres cuite, mosaïques, carreaux ciment ou effet bois, sols intérieurs ou extérieurs, Relief vous guide pour décider le type de carreau et pose les plus adaptés à votre support tout en respectant vos goûts.
        </p>
        <ul class="benefits">
            <li>✔ Traitement des supports</li>
            <li>✔ Salons, Terrasses, garages</li>
            <li>📍 Pau, Nay et alentours</li>
        </ul>
      </div>
    </div>
  </section>
  