/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'Philosopher-Regular';
    src: url('./assets/fonts/Philosopher-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'Philosopher-Bold';
    src: url('./assets/fonts/Philosopher-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'SegoeUi';
    src: url('./assets/fonts/Segoe-UI-Bold-Italic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: 'SegoeScript';
    src: url('./assets/fonts/segoesc.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  body {
    font-family: 'Philosopher-Regular', sans-serif !important;
  }

  h1{
    font-family: 'SegoeScript', sans-serif !important;
    font-weight: 700 !important;
  }

  h2, h3, h4, label{
    font-family: 'Philosopher-Bold', sans-serif !important;
    font-weight: 700 !important;
  }

  h2 {
    font-size: 2rem !important;
  }

.owl-carousel .owl-item img {
    max-height: 150px !important;
}

.custom-dark-blue{
  color: #025589;
}

.custom-light-blue{
  color: #4bbcbc;
}

.custom-gray{
  color: #a09292;
}

.image-container-galeria {
  width: 100%;
  height: 250px; /* Ajusta la altura para que todas las imágenes sean proporcionales */
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery-img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Corta la imagen sin deformarla */
  border-radius: 10px;
}

.modal-dialog {
  max-height: 90vh; /* Limita la altura del modal al 90% del viewport */
}

.modal-content {
  max-height: 90vh; /* Limita la altura del contenido */
  display: flex;
  flex-direction: column;
}

.modal-body {
  overflow-y: auto; /* Permite desplazamiento si la imagen es más grande */
  max-height: 75vh; /* Ajusta la altura disponible para el contenido */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-body img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain; /* Ajusta la imagen sin recortar */
}


@media only screen and (min-width: 1200px) {
  
  h2 {
    font-size: 2.5rem !important;
  }
}