
  <header class="p-3 p-md-5 w-100 bg-2">
    <h1 id="title" class="text-center text-light "><span class="relief">RELIEF</span> Pose de carrelage et sols</h1>
  </header>

  <body>

    <section class="py-3 py-xl-5">
      <h2 class="text-center mb-3">Nos services</h2>   
      
      <div id="grid-travaux">
        <div class="image-container">
          <a [routerLink]="'/pose-de-faience'">
            <p class="image-text">POSE DE FAIENCE</p>
            <img src="assets/img/obras/prestado/azulejos.webp" alt="POSE DE FAIENCE">
          </a>
        </div>
        <div class="image-container">
          <a [routerLink]="'/galerie'">
            <p class="image-text">GALERIE</p>
            <img src="assets/img/obras/prestado/camara.webp" alt="Galerie">
          </a>
        </div>
        <div class="image-container">
          <a [routerLink]="'/pose-de-carrelage-au-sol'">
            <p class="image-text">POSE DE CARRELAGE AU SOL</p>
            <img src="assets/img/obras/prestado/azulejossuelo.webp" alt="POSE DE CARRELAGE AU SOL">
          </a>
        </div>
        <div class="image-container">
          <a [routerLink]="'/salles-de-bain'">
            <p class="image-text">SALLES DE BAIN</p>
            <img src="assets/img/obras/prestado/baño.webp" alt="SALLES DE BAIN">
          </a>
        </div>
        <div class="image-container">
          <a [routerLink]="'/douche-italienne'">
            <p class="image-text">DOUCHE À L'ITALIENNE</p>
            <img src="assets/img/obras/prestado/duchaitaliana.webp" alt="DOUCHE A L'ITALIENNE">
          </a>
        </div>
        <div class="image-container">
          <a [routerLink]="'/pose-de-parquets-et-sols-souples'">
            <p class="image-text">POSE DE PARQUETS ET SOLS SOUPLES</p>
            <img src="assets/img/obras/prestado/parquet.webp" alt="POSE DE PARQUETS ET SOLS SOUPLES">
          </a>
        </div>
      </div>
      
      
    </section>

    <section class="bg-2 text-light text-center py-5 round-top">
      <div class="container">
        <h2 class="fw-bold">A propos de nous</h2>
        <p class="mt-3">
          Je suis Artisan carreleur diplômé, avec de nombreuses années d'expérience dans le domaine
de la construction. RELIEF interviens à Nay, Pau et alentours pour des travaux des
revêtements de sols et murs.
        </p>
        <p class="">
          Nous sommes passionnés par notre métier et réputés pour effectuer avec précision et efficacité
          des projets résidentiels pour les particuliers et les collectivités, en neuf et rénovation, travailleurs
          assidus et consciencieux avec des aptitudes à produire une finition lisse et de haute qualité
          pour satisfaire nos clients.
        </p>
        <p>
          Parmis nos points forts, l'experience, le sens de l'organisation et de la propreté qui seront mis
en place pour un travail de qualité.
        </p>
      </div>
    </section>
    
    <div class="transition p-3 w-100">
    </div>

    <section class="py-3 py-xl-5 bg-3">
      <h2 class="text-center">Nos points forts</h2>
      <owl-carousel-o [options]="customOptions">
        <ng-container *ngFor="let slide of slides">
          <ng-template carouselSlide>
            <div class="text-center">
              <img [src]="slide.img" [alt]="slide.alt" class="img-fluid w-auto" style="max-height: 300px; margin: auto;">
              <p class="mt-3 px-5 fs-5">{{ slide.title }}</p>
            </div>
          </ng-template>
        </ng-container>
      </owl-carousel-o>
    </section>

    <div class="transition2 p-3 w-100">
    </div>
    

  </body>
