.bg-1 {
  background-color: #40dbe8;
}

.bg-2 {
  background-color: #404082;
}

.color1 {
  color: #40dbe8;
}

.color2 {
  color: #404082;
}

.color3 {
  color: #d0d0d0;
}

.carousel-item {
  height: 300px;
  object-fit: cover;
}

#grid-travaux {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
  width: 90%;
  height: 90%;
  margin: 0 auto;
}

#grid-travaux img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

#grid-travaux img:hover {
  transform: scale(1.05);
  /* Efecto de agrandamiento leve */
}


.image-container {
  position: relative;
  text-align: center;
}

.image-text {
  position: absolute;
  top: 8px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 4px 10px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  text-wrap-style: balance;
  z-index: 1000;
}


header {
  background: url('/assets/img/banner-home.webp') no-repeat center bottom;
  background-size: cover;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

header h1 {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.relief {
  font-family: 'SegoeUI', sans-serif !important;
  font-size: 4rem;
  letter-spacing: 16px;
}

#text1-relief{
background: url('/assets/img/fondo-texto-1.webp') no-repeat center bottom;
}
#text2-relief{
background: url('/assets/img/fondo-texto-2.webp') no-repeat center bottom;
}
.round-top {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.accordion-button:not(.collapsed) {
  background-color: #404082;
  color: #fff;
}
.accordion-button:not(.collapsed)::after {
  filter: brightness(0) invert(1);
}

#seccion-galeria .btn{
  background-color: #404082;
}
#seccion-galeria .btn:hover{
  background-color: #40dbe8;
  color: #404082;
}
@media only screen and (max-width: 720px) {
  header {
    background-image: url('/assets/img/banner-home-mobile.webp');
  }
}

@media only screen and (min-width: 720px) {
  #grid-travaux {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .round-top {
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
  }

  .relief {
    margin-right: 40px;
  }

}

@media only screen and (min-width: 920px) {
  #grid-travaux {
    width: 75%;
    height: 75%;
  }

  .relief {
    margin-right: 50px;
  }
}