.bg-1{
    background-color: #40dbe8;
}

.bg-2{
    background-color: #404082;
}

.bg-3{
    background-color: #d0d0d0;
}

.color1{
    color: #40dbe8;
}

.color2{
    color: #404082;
}

.color3{
    color: #d0d0d0;
}

.carousel-item{
    height: 300px;
    object-fit: cover;
}

#grid-travaux {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    width: 90%;
    height: 90%;
    margin: 0 auto;
  }
  
  #grid-travaux img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  
  .image-container {
    position: relative;
    text-align: center;
  }
  
  .image-text {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    text-wrap-style: balance;
  }


  header {
    background: url('/assets/img/banner.webp') no-repeat center center;
    background-size: cover;
    height: 300px; /* Ajusta la altura según necesites */
    display: flex;
    align-items: center; /* Centra el texto verticalmente */
    justify-content: center; /* Centra el texto horizontalmente */
    
  }

  header h1 {
    text-shadow: 4px 4px 15px rgba(0, 0, 0, 0.7); /* Sombra negra para mejorar la lectura */
  }
  
  @media only screen and (min-width: 600px){
    #grid-travaux {
        width: 70%;
        height: 70%;
      }
  }