
  <header class="p-3 p-md-5 w-100 bg-2">
    <h1 id="title" class="text-center text-light "><span class="relief">RELIEF</span> Pose de Carrelage et Sols</h1>
  </header>

  <body>
    <section class="py-3 py-xl-5">
      <h2 class="text-center mb-3">Nos services</h2>   
      
      <div id="grid-travaux">
        <div class="image-container">
          <a [routerLink]="'/pose-de-carrelage-mural'">
            <p class="image-text">POSE DE CARRELAGE MURAL</p>
            <picture>
              <source srcset="assets/img/obras/prestado/azulejos-mobile.webp" media="(max-width: 768px)">
              <img src="assets/img/obras/prestado/azulejos.webp" alt="Travail de ose de carrelage mural sur mur intérieur" loading="lazy" decoding="async">
            </picture>
          </a>
        </div>

        <div class="image-container">
          <a [routerLink]="'/galerie'">
            <p class="image-text">GALERIE</p>
            <picture>
              <source srcset="assets/img/obras/prestado/camara-mobile.webp" media="(max-width: 768px)">
              <img src="assets/img/obras/prestado/camara.webp" alt="Galerie de photos des réalisations en rénovation intérieure" loading="lazy" decoding="async">
            </picture>
          </a>
        </div>

        <div class="image-container">
          <a [routerLink]="'/pose-de-carrelage-au-sol'">
            <p class="image-text">POSE DE CARRELAGE AU SOL</p>
            <picture>
              <source srcset="assets/img/obras/prestado/azulejossuelo-mobile.webp" media="(max-width: 768px)">
              <img src="assets/img/obras/prestado/azulejossuelo.webp" alt="Pose de carrelage au sol dans une pièce moderne" loading="lazy" decoding="async">
            </picture>
          </a>
        </div>

        <div class="image-container">
          <a [routerLink]="'/salles-de-bain'">
            <p class="image-text">SALLES DE BAIN</p>
            <picture>
              <source srcset="assets/img/obras/prestado/baño-mobile.webp" media="(max-width: 768px)">
              <img src="assets/img/obras/prestado/baño.webp" alt="Exemple de salle de bain rénovée avec carrelage mural et équipements modernes" loading="lazy" decoding="async">
            </picture>
          </a>
        </div>

        <div class="image-container">
          <a [routerLink]="'/douche-italienne'">
            <p class="image-text">DOUCHE À L'ITALIENNE</p>
            <picture>
              <source srcset="assets/img/obras/prestado/duchaitaliana-mobile.webp" media="(max-width: 768px)">
              <img src="assets/img/obras/prestado/duchaitaliana.webp" alt="Douche à l’italienne avec revêtement mural contemporain" loading="lazy" decoding="async">
            </picture>
          </a>
        </div>

        <div class="image-container">
          <a [routerLink]="'/pose-de-parquets-et-sols-souples'">
            <p class="image-text">POSE DE PARQUETS ET SOLS SOUPLES</p>
            <picture>
              <source srcset="assets/img/obras/prestado/parquet-mobile.webp" media="(max-width: 768px)">
              <img src="assets/img/obras/prestado/parquet.webp" alt="Pose de parquet en bois dans une pièce chaleureuse" loading="lazy" decoding="async">
            </picture>
          </a>
        </div>
      </div>
    </section>

    <section id="text1-relief" class="text-center py-5">
      <div class="container">
        <h2 class="fw-bold">Votre Expert en Carrelage à Pau</h2>
        <p class="mt-3">
          Bienvenue sur notre site web, ou <b>"le métier de carreleur rencontre
          l'artisanat local."</b>
        </p>
        <p>
          Que vous souhaitiez rénover votre salle de bain, carreler vos terrasses
          ou vos espaces extérieurs, embellir votre cuisine ou créer un salon
          unique, vous cherchez un carreleur à Pau pour un travail <b>précis,
          esthétique et durable.</b>
        </p>
        <p>
          Nous avons les solutions qu'il vous faut.
        </p>
        <p>
          Notre entreprise vous propose les services d'un carreleur à Pau, qui fort
          de son expérience saura matérialiser vos idées pour tout type de
          carrelage mural et de carrelage posé au sol.
        </p>
      </div>
      <div class="container">
        <h2 class="fw-bold">A Propos</h2>
        <p class="mt-3">
          Je suis artisan carreleur diplômé, avec de nombreuses années
          d'expérience dans le domaine de la construction.
        </p>
        <p>
          RELIEF interviens à Pau, mais aussi dans les zones à proximité, pour
          des travaux de revêtements de sols et murs.
        </p>
        <p>
          Nous sommes une équipe de passionnés par notre métier et réputés
          pour effectuer avec précision et efficacité des projets résidentiels, pour
          les particuliers et aussi pour les collectivités, en neuf et en rénovation.
        </p>
        <p>
          Si vous cherchez un carreleur, nous sommes des travailleurs assidus et
          consciencieux avec des aptitudes à produire une finition lisse et de haute
          qualité pour satisfaire nos clients.
        </p>
        <p>
          <b>L'expérience unie au sens de l'organisation</b> feront la différence pour
          réussir chacun de vos projets.
        </p>
      </div>
    </section>

    <section class="py-3 py-xl-5">
      <h2 class="text-center">Nos atouts</h2>
      <owl-carousel-o [options]="customOptions">
        <ng-container *ngFor="let slide of slides">
          <ng-template carouselSlide>
            <div class="text-center">
              <img [src]="slide.img" [alt]="slide.alt" class="img-fluid w-auto" style="max-height: 300px; margin: auto;" loading="lazy" decoding="async">
              <p class="mt-3 px-5 fs-5">{{ slide.title }}</p>
            </div>
          </ng-template>
        </ng-container>
      </owl-carousel-o>
    </section>

    <section id="text2-relief" class="text-center py-5">
      <div class="container">
        <h3 class="fw-bold">Un parcours riche et passionné</h3>
        <p class="mt-3">
          qui a débuté dans les
          années 2000, porté par une passion transmise par mes proches et une curiosité
          naturelle. Je me suis formé dans trois pays, avant de m’établir au Pau depuis déjà
          quatorze années, ville où j’ai obtenu mon diplômes (à Lons) et perfectionné mon
          savoir-faire dans les Pyrénées-Atlantiques.
        </p>
      </div>
      <div class="container">
        <h3 class="fw-bold">Tradition et Innovation</h3>
        <p class="mt-3">
          Ayant appris comment carreler au cœur
des divers entreprises basés à Pau, j'ai toujours été fascine par les divers matériaux
qui couvrent nos sols et murs, ce qui m'a amené à approfondir mes connaissances
sur les techniques qui font partie de ce métier passionnant.
        </p>
        <p>
          <b>« C'est le travail de carreleur et solier, ancien métier, des premières
civilisations, qui ne cesse d'évoluer, et qui retrouve à nos jours, l'équilibre
parfait entre tradition et innovation. »</b>
        </p>
        <p>
         "Nous croyons que chaque projet est unique pour faire le point d'honneur à satisfaire
le client."
        </p>
      </div>
       <div class="container">
        <h3 class="fw-bold">Tradition et Innovation</h3>
        <p class="mt-3">
          Vous êtes décidé à carreler votre balcon ou changer ces anciennes lames de bois...
Mais au moment de s'y mettre, beaucoup de questions se posent.
        </p>
        <p>
          En effet le métier de carreleur ou solier nécessitent une technique et une pratique qui
s’apprennent seulement sur des chantiers à travers les années.
Découpes, applications de mortiers, fractionnement et calepinages mais aussi les
connaissances des normes qui s’imposent pour la durabilité et bon achèvement des
chantiers, peuvent se montrer vite comme un vrai casse-tête.
        </p>
        <p>
         <b>"Opter pour un Carreleur à Pau c'est choisir un expert local connaissent la
zone et surtout expert de son métier.
Nos valeurs reposent sur la qualité des travaux fournis mais aussi sur le côté
humain, nous sommes en interaction avec le client et restons à l'écoute de ses
besoins"</b>
        </p>
      </div>
    </section>


    <section id="faqs-relief" class="py-5">
      <div class="container">
        <h2 class="mb-4">FAQ - Questions fréquentes</h2>
        <div class="accordion" id="faqAccordion">

          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Quels types de carrelage proposez-vous pour nous envoyer un carreleur ?
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#faqAccordion">
              <div class="accordion-body">
                Nous proposons la pose d'une large variété de carrelages : céramique, porcelaine, grès cérame, faïence ainsi que certaines options en pierre naturelle pour vos projets intérieurs et extérieurs.
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Quels types de parquets et sols souples proposez-vous chez RELIEF ?
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#faqAccordion">
              <div class="accordion-body">
                Nous proposons la pose d'une large variété de parquets et sols souples : parquet stratifié, collé, linoleum, lames clipsables, dalles PVC et divers sols en vinyle.
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Est-il possible d'obtenir un devis gratuit pour un projet de carrelage à Pau ou ailleurs dans la commune ?
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#faqAccordion">
              <div class="accordion-body">
                Oui, nous offrons la possibilité des devis gratuits et personnalisés. Contactez-nous pour discuter de votre projet et nous serons ravis de vous aider. Nous sommes souvent à Pau, Nay et alentours mais nous pouvons également nous déplacer.
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFour">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                Est-ce que vous faites des salles de bain et toilettes clés en main ?
              </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#faqAccordion">
              <div class="accordion-body">
                Oui, forts de notre expérience et possédant l'accréditation nécessaire, nous prenons en charge la réfection des salles d'eau de A à Z (installation et aménagement compris), en collaborant avec des professionnels réputés en plomberie et électricité. Nous intervenons aussi pour des travaux destinés aux personnes handicapées.
              </div>
            </div>
          </div>

          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFive">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                Combien de temps dure un projet typique de pose de carrelage ?
              </button>
            </h2>
            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#faqAccordion">
              <div class="accordion-body">
                La durée dépend de la taille et de la complexité du projet ainsi que de divers facteurs comme l'accessibilité au chantier, mais en général, un projet standard peut prendre entre quelques jours et une semaine.
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>

  </body>
